body{
	background: url(https://img.freepik.com/free-vector/abstract-background-summer-color-pattern-with-copy-space_38782-603.jpg?size=626&ext=jpg);
	background-repeat: no repeat;
	background-size: cover;
}
h1{
	text-align: center;
}
p{
	font-size: 30px;
}
h1{
	text-align: left;
}